body {
  height: 100%;
  font-family: 'Poppins';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}
