:root {
  --primary-text-color: #292d32;
  --nav-text-color: #9197b3;
  --title-text-color: #000;
  --logo-icon-color: #000000;
  --active-text-color: #fff;
  --background-color: #ffffff;
  --active-icon-color: #ffffff;
  --secondary-background-color: #fafbff;
  --active-background: #5932ea;
  --icon-color: #9197b3;
  --search-icon-color: #7e7e7e;
  --search-input-color: #f9fbff;
  --search-placeholder-color: #b5b7c0;
  --table-header-color: #b5b7c0;
  --pagination-digit-color: #404b52;

  --text-role-color: #757575;
}
